* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f3f2ef;
}

img {
    display: block;
    width: 100%;
}

:root {
    font-size: 62.5%;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* header */

.header {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container #header-logo svg {
    width: 41px;
    height: 41px;
}

.header-container > div {
    display: flex;
    align-items: center;

    flex: 1;
}

.header-container form {
    width: 100%;

    position: relative;
}

.header-container > div #input-pesquisar {
    padding: 0 .8rem 0 40px;
    
    line-height: 1.4;
    font-size: 14px;
    
    background-color: #eef3f8;
    border-radius: 2px;
    border: none;
    
    display: block;
    margin-left: 10px;

    max-width: 320px;
    width: 70%;

    height: 34px;
    transition: .3s ease;
}

.header-container > div #input-pesquisar:focus {
    width: 80%;
}

.header-container > div button {
    position: absolute;
    top: 0;
    left: 15px;

    height: 100%;
    padding: 5px;

    font-size: 18px;

    color: #606264;
    background: none;

    border: none;
}

.header-container nav ul {
    display: flex;
    align-items: center;
}

.header-container nav ul li.current a {
    color: #191919;
    border-bottom: 2px solid #191919;
}

.header-container nav ul li a {
    display: block;

    height: 100%;
    width: 80px;
    height: 52px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #606264;
}

.header-container nav ul li a:hover {
    /* border-bottom: 2px solid #191919; */
    color: #191919;
}

.header-container nav ul #header-menu_opcao-perfil a {
    width: 80px;
}

.header-container nav ul #header-menu_opcao-perfil::after {
    /* content: ''; */

    /* width: 1px; */
    height: 49px;

    background: #606264;
    display: block;

    position: absolute;
}

.header-container nav ul #header-menu_opcao-perfil span#header-menu_foto-perfil {
    width: 24px;
    height: 24px;
    display: block;

    margin-bottom: 3px;

    border-radius: 50%;
    background: #ddd;
}

.header-container nav ul #header-menu_opcao-negocios  {
    min-width: 80px;

    padding: 0 10px;
    border-left: 1px solid #f2f2f2;
}

.header-container nav ul #header-menu_opcao-perfil span#header-menu_nome-perfil,
.header-container nav ul #header-menu_opcao-negocios span#header-menu_nome-negocios {
    position: relative;
}

.header-container nav ul #header-menu_opcao-perfil span#header-menu_nome-perfil::after,
.header-container nav ul #header-menu_opcao-negocios span#header-menu_nome-negocios::after {
    content: '';
    
    border: 4px solid transparent;
    border-top-color: currentColor;

    position: absolute;
    right: -13px;
    top: 60%;

    transform: translateY(-50%);
}

.header-container nav ul #mensagem-menu_premium {
    width: 125px;
}

.header-container nav ul #mensagem-menu_premium a {
    color: #99651a;

    font-size: 1.2rem;
    font-weight: 500;

    text-decoration: underline;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

@media screen and (max-width: 834px) {
    .header-container > div #input-pesquisar {
        display: none;
    }

    .header-container > div button {
        padding: 0 15px;
        position: static;
    }

    .header-container > div svg {
        width: 23px;
        height: 25px;
    }
}

/* Main */

.container-principal{
    display: grid;
    grid-template-columns: 225px 555px 300px;
    margin-top: 24px;
    gap: 24px;
}

.bloco-1-coluna-1,
.bloco-2-coluna-1, 
.coluna2, 
.coluna3{
    background-color: #fff;

    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Coluna 1 */

.conteudo-coluna-1::after,
.segundo-conteudo-coluna-1::after,
.terceiro-conteudo-coluna-1::after,
.quinto-conteudo-coluna-1::after{
    content: ' ';
    display: block;
    position: absolute;

    height: 1px;
    width: 100%;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #ddd;
}

.bloco-1-coluna-1{
    margin-bottom: 5px;
}

.bloco-1-coluna-1 .imagem-fundo img{
    width: 100%;
    height: 56.25px;

    border-radius: 8px 8px 0 0;
}

.bloco-1-coluna-1 .imagem-fundo{
    position: relative;
}

.conteudo-coluna-1{
    padding: 0 20px 20px 20px;
    position: relative;
}

.conteudo-coluna-1 p{
    text-align: center;

    font-size: 1.2rem;

    color: #908f8f;

    margin-top: 10px;
}

.conteudo-coluna-1 .link-perfil{
    width: 100%;
}

.conteudo-coluna-1 .link-perfil h2{
    color: #000;

    font-weight: bold;
    text-align: center;
}

.conteudo-coluna-1 .link-perfil .imagem-perfil{
    height: 52px;

    display: flex;
    justify-content: center;

    position: relative;
}

.conteudo-coluna-1 .link-perfil .imagem-perfil img{
    position: absolute;
    top: -75%;

    width: 68px;

    border-radius: 100%;
    border: 2px solid #fff;
}

.segundo-conteudo-coluna-1{
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.segundo-conteudo-coluna-1 .esquerda .span1{
    font-size: 1.2rem;
    color: #908f8f;
    display: inline-block;
    margin-bottom: 3px;
}

.segundo-conteudo-coluna-1 .esquerda .span2{
    font-size: 1.2rem;
    font-weight: bold;
}

.segundo-conteudo-coluna-1 .direita span{
    color: #0a66c2;
    font-size: 1.2rem;
}

.terceiro-conteudo-coluna-1{
    padding: 12px 10px;
    position: relative;
}

.terceiro-conteudo-coluna-1 a .p1{
    color: #908f8f;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.terceiro-conteudo-coluna-1 .premium p{
    font-size: 1.2rem;
    text-decoration: underline;
    padding-left: 3px;
    color: #000;
    font-weight: bold;
}

.terceiro-conteudo-coluna-1 .premium{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quarto-conteudo-coluna-1{
    padding: 12px 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.quarto-conteudo-coluna-1 svg{
    color: #00000099;
}

.quarto-conteudo-coluna-1 span{
    font-size: 1.2rem;
    padding-left: 3px;
    font-weight: bold;
}

.quinto-conteudo-coluna-1{
    padding: 12px 10px;
    position: relative;
}

.quinto-conteudo-coluna-1 div + div{
    padding-top: 16px;
}

.quinto-conteudo-coluna-1 a{
    font-size: 1.2rem;
    font-weight: bold;
    color: #0a66c2;
}

.descubra-mais a{
    width: 100%;

    padding: 12px;

    display: flex;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: bold;

    color: #908f8f;
}

#eventos a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg {
    color: #908f8f;
}

/* Coluna 2 */

.coluna2 {
    padding: 8px 16px;
    height: fit-content;
}

.pesquisar {
    width: 100%;

    display: flex;
    align-items: center;
}

.pesquisar img {
    max-width: 48px;
    border-radius: 50%;

    margin-right: 10px;
}

.pesquisar input {
    height: 48px;
    width: calc(100% - 48px - 10px);

    padding: 15px 20px;

    font-size: 14px;

    border-radius: 35px;
    border: 1px solid #00000099;
    color: #908f8f;
}

/* Quebras */
@media screen and (max-width: 1115px) {
    .container-principal{
        grid-template-columns: 225px 387px 300px;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .container-principal{
        grid-template-columns: 225px 471px;
    }

    .coluna3{
        grid-column: 2;
    }
}

@media screen and (max-width: 768px) {    
    .container-principal{
        grid-template-columns: minmax(100px, 576px);
    }

    .coluna1, .coluna2, .coluna3{
        grid-column: 1;
    }
}